<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="1048576"/>
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=.;Initial Catalog=doctorfeesdatasys;Integrated Security=True" />
    <add name="doctorfeesdatasysConnectionString" connectionString="Data Source=.;Initial Catalog=doctorfeesdatasys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>