body
{
    background-image: url("../image/login.jpg");
    /*background-repeat: no-repeat;*/
    background-size:cover;
}

#login
{
    font-size: large;
    font-style: inherit;
    font-weight: lighter;
    color: #000000;
    text-align: center;
    background-color: #CCFFCC;
    border-style: double;
    position: static;
    margin-left: 500px;
    margin-right: 400px;
    margin-top: 230px;
    width: 400px;
}
.style1
{
    text-align: center;
   
}
#conncetion
{
    margin-left: 500px;
    margin-right: 400px;
    margin-top: 200px;
    width: 400px; 
    
}
